body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
canvas {
    background-color: #ffffff;
    width: 512px;
    height: 512px;
    display: inline-block;
}
#ui {
    padding: 0 0 1rem 0;
}
#ui-ctrls label {
    padding: 0 0 0 0;
    display: block;
    line-height: 2rem;
}
#ui-ctrls label span {
    display: inline-block;
    width:3rem;
}
#maps div {
    display: inline-block;
    padding: 1rem;
}