body {
    margin: 0;
    font-family: sans-serif;
    background: #111;
    overflow: hidden;
}

#wrap {
    position: relative;
    height: 100vh;
    width:300px;
    margin: -492px 0 0 63%;
}

#stage {
    position: absolute;
    top:0;
    left: 0;
    width: auto;
    height: 100vh;
}
#stage img {
    width: auto;
    height: 100vh;
    display: block;    
}

/* overlay net */
#net {
    position: absolute;
    width: 300px;
    height: 400px;
    left: 0;
    top: 0;
    /*transform: translate(-50%, -50%);
    pointer-events: none;*/
}
#net table {
    border-collapse: collapse;
}
/* simple cube net layout */
.face {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.05);
}
.fc {
 outline: none;
}
.ft, .fr, .fb, .fl, .fe {
    outline: 1px solid rgba(22, 21, 21, 0.7);
}

#ui {
    width:60%;
    padding: 12px;
    background: rgba(0,0,0,0.6);
    color: white;
    display: inline-block;
    gap: 12px;
    align-items: center;
}
#ui div {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

label {
    font-size: 12px;
    /*display: flex;
    flex-direction: row;*/
    display: block;
}

input[type="range"] {
    width: 99%;
}

button {
    padding: 8px 14px;
    cursor: pointer;
}